<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wifi32767.infra.dao.DeviceDao">

    <select id="queryAll" resultType="com.wifi32767.infra.dao.po.Device">
        <![CDATA[
        SELECT *
        FROM device
        WHERE (deleted IS NULL OR deleted = 0)
        ]]>
    </select>

    <insert id="insert" parameterType="com.wifi32767.infra.dao.po.Device">
        <![CDATA[
        INSERT INTO device (device_name,
                            device_class_id,
                            device_style_id,
                            device_type_id,
                            device_use_year,
                            device_price,
                            device_using_unit,
                            device_country_id,
                            device_location,
                            device_longitude,
                            device_latitude,
                            device_img,
                            device_video,
                            device_introduce,
                            device_news_link,
                            device_news_title,
                            device_news_time,
                            device_insql_time,
                            device_changesql_time,
                            audit_flag,
                            deleted)
        VALUES (#{deviceName},
                #{deviceClassId},
                #{deviceStyleId},
                #{deviceTypeId},
                #{deviceUseYear},
                #{devicePrice},
                #{deviceUsingUnit},
                #{deviceCountryId},
                #{deviceLocation},
                #{deviceLongitude},
                #{deviceLatitude},
                #{deviceImg},
                #{deviceVideo},
                #{deviceIntroduce},
                #{deviceNewsLink},
                #{deviceNewsTitle},
                #{deviceNewsTime},
                #{deviceInsqlTime},
                #{deviceChangesqlTime},
                0,
                0)
        ]]>
    </insert>

    <update id="update" parameterType="com.wifi32767.infra.dao.po.Device">
        UPDATE device
        <set>
            <if test="deviceName != null">
                device_name = #{deviceName},
            </if>
            <if test="deviceClassId != null">
                device_class_id = #{deviceClassId},
            </if>
            <if test="deviceStyleId != null">
                device_style_id = #{deviceStyleId},
            </if>
            <if test="deviceTypeId != null">
                device_type_id = #{deviceTypeId},
            </if>
            <if test="deviceUseYear != null">
                device_use_year = #{deviceUseYear},
            </if>
            <if test="devicePrice != null">
                device_price = #{devicePrice},
            </if>
            <if test="deviceUsingUnit != null">
                device_using_unit = #{deviceUsingUnit},
            </if>
            <if test="deviceCountryId != null">
                device_country_id = #{deviceCountryId},
            </if>
            <if test="deviceLocation != null">
                device_location = #{deviceLocation},
            </if>
            <if test="deviceLongitude != null">
                device_longitude = #{deviceLongitude},
            </if>
            <if test="deviceLatitude != null">
                device_latitude = #{deviceLatitude},
            </if>
            <if test="deviceImg != null">
                device_img = #{deviceImg},
            </if>
            <if test="deviceVideo != null">
                device_video = #{deviceVideo},
            </if>
            <if test="deviceIntroduce != null">
                device_introduce = #{deviceIntroduce},
            </if>
            <if test="deviceChangesqlTime != null">
                device_changesql_time = #{deviceChangesqlTime},
            </if>
            <if test="deviceNewsLink != null">
                device_news_link = #{deviceNewsLink},
            </if>
            <if test="deviceNewsTitle != null">
                device_news_title = #{deviceNewsTitle},
            </if>
            <if test="deviceNewsTime != null">
                device_news_time = #{deviceNewsTime},
            </if>
            audit_flag = 0
        </set>
        WHERE device_id = #{deviceId}
    </update>

    <update id="deleteById" parameterType="java.lang.Integer">
        <![CDATA[
        UPDATE device
        SET deleted = 1
        WHERE device_id = #{deviceId}
        ]]>
    </update>

    <select id="queryAllCount" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(*)
        FROM device
        WHERE (deleted IS NULL OR deleted = 0)
        ]]>
    </select>

    <select id="queryCountByAuditFlag" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(*)
        FROM device
        WHERE (deleted IS NULL OR deleted = 0)
          AND audit_flag = #{auditFlag}
        ]]>
    </select>

    <select id="queryCountByDate" parameterType="java.time.LocalDate" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(*)
        FROM device
        WHERE (deleted IS NULL OR deleted = 0)
          AND DATE (device_insql_time) = #{localdate}
        ]]>
    </select>

    <select id="queryCorrectionCountByDate" parameterType="java.time.LocalDate" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(*)
        FROM device
        WHERE (deleted IS NULL OR deleted = 0)
          AND DATE (device_insql_time)
            < #{localdate}
          AND DATE (device_changesql_time) = #{localdate}
        ]]>
    </select>

    <select id="queryLatestNews" parameterType="java.lang.Integer" resultType="com.wifi32767.infra.dao.po.Device">
        <![CDATA[
        SELECT *
        FROM device
        WHERE (deleted IS NULL OR deleted = 0)
            AND device_name IS NULL
            AND device_news_time IS NOT NULL
        ORDER BY device_news_time DESC
        ]]>
        <if test="limit != null and limit >= 0">
            <![CDATA[
            LIMIT #{limit}
            ]]>
        </if>
    </select>

    <select id="queryLatestDevices" parameterType="java.lang.Integer" resultType="com.wifi32767.infra.dao.po.Device">
        <![CDATA[
        SELECT *
        FROM device
        WHERE (deleted IS NULL OR deleted = 0)
            AND device_name IS NOT NULL
        ORDER BY device_insql_time DESC
        ]]>
        <if test="limit != null and limit >= 0">
            <![CDATA[
            LIMIT #{limit}
            ]]>
        </if>
    </select>

    <select id="queryRandomDevices" parameterType="java.lang.Integer" resultType="com.wifi32767.infra.dao.po.Device">
        <![CDATA[
        SELECT *
        FROM device
        WHERE (deleted IS NULL OR deleted = 0)
            AND device_name IS NOT NULL
        ORDER BY RAND()
        ]]>
        <if test="limit != null and limit >= 0">
            <![CDATA[
            LIMIT #{limit}
            ]]>
        </if>
    </select>

    <select id="searchDevices" resultType="com.wifi32767.infra.dao.po.Device">
        SELECT *
        FROM device
        <where>
            <if test="params.keyword != null">
                AND device_name LIKE CONCAT('%', #{params.keyword}, '%')
            </if>
            <if test="params.introduce != null">
                AND device_introduce LIKE CONCAT('%', #{params.introduce}, '%')
            </if>
            <if test="params.classId != null">
                AND device_class_id = #{params.classId}
            </if>
            <if test="params.styleId != null">
                AND device_style_id = #{params.styleId}
            </if>
            <if test="params.typeId != null">
                AND device_type_id = #{params.typeId}
            </if>
            <if test="params.countryId != null">
                AND device_country_id = #{params.countryId}
            </if>
            <if test="params.startDate != null">
                AND device_news_time <![CDATA[ >= ]]> #{params.startDate}
            </if>
            <if test="params.endDate != null">
                AND device_news_time <![CDATA[ <= ]]> #{params.endDate}
            </if>
        </where>
    </select>

    <select id="queryDevicesByTitleAndStatus" parameterType="com.wifi32767.domain.system.model.AuditSearchParamsVO"
            resultType="com.wifi32767.infra.dao.po.Device">
        <![CDATA[
        SELECT *
        FROM device
        WHERE (deleted IS NULL OR deleted = 0)
          AND device_name LIKE CONCAT('%', #{title}, '%')
          AND (#{status} = 3 OR (audit_flag IS NULL AND #{status} = 0) OR audit_flag = #{status})
        ]]>
    </select>

    <select id="queryDevicesByTitleAndStatusWithPages" resultType="com.wifi32767.infra.dao.po.Device">
        <![CDATA[
        SELECT *
        FROM device
        WHERE (deleted IS NULL OR deleted = 0)
          AND device_name LIKE CONCAT('%', #{params.title}, '%')
          AND (#{params.status} = 3 OR (audit_flag IS NULL AND #{params.status} = 0) OR
               audit_flag = #{params.status})
            LIMIT #{offset}
            , #{size}
        ]]>
    </select>

    <update id="audit" parameterType="com.wifi32767.domain.system.model.AuditSearchParamsVO">
        <![CDATA[
        UPDATE device
        SET audit_flag = #{status}
        WHERE device_id = #{id}
        ]]>
    </update>

</mapper>